<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <ul class="ul-comment">
      <li class="li-comment">
        <%= attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", class:"comment-image", size: "40x40" %>
      </li>
      <li class="li-comment"><%= comment.body %></li>
      <% if comment.user == current_user %>
        <li class="li-comment">
          <%= link_to "Destroy", book_book_comment_path(comment.book_id, comment.id), method: :delete, remote: true, class: "btn btn-danger destroy_book_#{@book.id}" %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <hr>
<% end %>